// Background
$active-bg: #5932EA;
$main-bg: #fff;
$second-bg: #F9FBFF;
$green-bg: rgba(22, 192, 152, 0.38);
$red-bg: #FFC5C5;
$grey-bg: #F5F5F5;

// Border 

$red-border: #DF0404;
$green-border: #00B087;
$grey-border: #EEEEEE;

// Color 

$main-color: #292D32;
$second-color:#B5B7C0;
$purple-color: #9197B3;
$green-color: #008767;
$light-green-color: #16C098;
$red-color: #DF0404;
$white-color: #fff; 
$black-color: #000;
$light-black-color: #404B52; 
$grey-color: #757575;  
$light-gray-color: #838383;